# Caddyfile to route morteliv.com traffic for Titan
morteliv.com, www.morteliv.com {
    encode gzip
    # API requests should be proxied to the API service
    @api path /api* /api/*
    handle @api {
        reverse_proxy api:3000
    }
    # All other requests go to the web service
    handle {
        reverse_proxy web:80
    }
}
